[Unit]
Description=Auto PWM Fan Script
After=syslog.target
 
[Service]
Type=simple
ExecStart=/etc/pwm-fan.d/pwm-fan.sh start
ExecPreStop=/etc/pwm-fan.d/pwm-fan.sh stop-fan
Restart=always
 
[Install]
WantedBy=multi-user.target
